In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
pd.set_option('display.max_columns', None)

%matplotlib inline

In [8]:
df = pd.read_csv('./student_data.csv')

In [9]:
df.head()

,School,Gender,Age,Address,Family_Size,Parental_Status,Mother_Education,Father_Education,Mother_Job,Father_Job,Reason_for_Choosing_School,Guardian,Travel_Time,Study_Time,Number_of_Failures,School_Support,Family_Support,Extra_Paid_Class,Extra_Curricular_Activities,Attended_Nursery,Wants_Higher_Education,Internet_Access,In_Relationship,Family_Relationship,Free_Time,Going_Out,Weekend_Alcohol_Consumption,Weekday_Alcohol_Consumption,Health_Status,Number_of_Absences,Grade_1,Grade_2,Final_Grade,Dropped_Out
0,School A,Female,13.0,Urban,1.0,Together,Primary,Secondary,Business,Healthcare,Reputation,Mother,14.0,5.0,0,No,Yes,Yes,No,No,Yes,No,Yes,Bad,5.0,4.0,Low,Low,Very Bad,1,16.0,14.0,16.0,Yes
1,School C,Female,14.0,Suburban,4.0,Apart,Higher,NaN,Service,Education,Course,Mother,7.0,4.0,0,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Very Bad,3.0,1.0,Very High,NaN,Good,3,15.0,16.0,15.0,No
2,School C,Female,18.0,Rural,5.0,Apart,NaN,Primary,Business,Unemployed,Course,Father,NaN,1.0,0,No,No,Yes,Yes,No,No,No,Yes,Bad,2.0,5.0,Very High,Medium,Excellent,0,17.0,13.0,8.0,Yes
3,School B,Other,18.0,Suburban,7.0,Apart,Secondary,Secondary,Business,Technology,Home,Other,41.0,4.0,1,No,No,Yes,No,Yes,Yes,No,Yes,Good,5.0,NaN,Low,NaN,Good,6,NaN,16.0,16.0,No
4,School A,Other,16.0,Suburban,8.0,Apart,Higher,NaN,Unemployed,Education,Other,Father,39.0,7.0,2,Yes,No,Yes,No,Yes,No,No,No,Very Bad,4.0,4.0,NaN,Low,Bad,2,16.0,13.0,15.0,No

In [11]:
print("This dataset has {} rows and {} columns".format(df.shape[0],df.shape[1]))

This dataset has 20000 rows and 34 columns

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   School                       20000 non-null  object
 1   Gender                       20000 non-null  object
 2   Age                          18977 non-null  float64
 3   Address                      20000 non-null  object
 4   Family_Size                  19008 non-null  float64
 5   Parental_Status              20000 non-null  object
 6   Mother_Education             14876 non-null  object
 7   Father_Education             14986 non-null  object
 8   Mother_Job                   20000 non-null  object
 9   Father_Job                   20000 non-null  object
 10  Reason_for_Choosing_School   20000 non-null  object
 11  Guardian                     20000 non-null  object
 12  Travel_Time                  18990 non-null  float64
 13  Study_Time                   18981 non-null  float64
 14  Number_of_Failures           20000 non-null  int64
 15  School_Support               20000 non-null  object
 16  Family_Support               20000 non-null  object
 17  Extra_Paid_Class             20000 non-null  object
 18  Extra_Curricular_Activities  20000 non-null  object
 19  Attended_Nursery             20000 non-null  object
 20  Wants_Higher_Education       20000 non-null  object
 21  Internet_Access              20000 non-null  object
 22  In_Relationship              20000 non-null  object
 23  Family_Relationship          20000 non-null  object
 24  Free_Time                    18954 non-null  float64
 25  Going_Out                    19002 non-null  float64
 26  Weekend_Alcohol_Consumption  16023 non-null  object
 27  Weekday_Alcohol_Consumption  15969 non-null  object
 28  Health_Status                20000 non-null  object
 29  Number_of_Absences           20000 non-null  int64
 30  Grade_1                      18990 non-null  float64
 31  Grade_2                      18985 non-null  float64
 32  Final_Grade                  18994 non-null  float64
 33  Dropped_Out                  20000 non-null  object
dtypes: float64(9), int64(2), object(23)
memory usage: 5.2+ MB

In [44]:
print("There are {} columns wiht missing data.".format(len((df.isnull().mean() * 100)[df.isnull().mean() * 100 > 0])))

There are 13 columns wiht missing data.

In [45]:
(df.isnull().mean() * 100)[df.isnull().mean() * 100 > 0]

Age                             5.115
Family_Size                     4.960
Mother_Education               25.620
Father_Education               25.070
Travel_Time                     5.050
Study_Time                      5.095
Free_Time                       5.230
Going_Out                       4.990
Weekend_Alcohol_Consumption    19.885
Weekday_Alcohol_Consumption    20.155
Grade_1                         5.050
Grade_2                         5.075
Final_Grade                     5.030
dtype: float64